
<!--
1-creo un service e lo metto nella cartella services
2-su user-page.ts metto il service nel costruttore chiamandolo connServe di tipo ConnectionService
3-sposto la logica della fetch nel service ma non completamente -> devo utilizzare solo la fetch dell'url che mi ritorna una Promise -> facendo una chiamata la promise non restituisce il dato ma la promessa che qualcosa arriverà (da gestire poi con i vari .THEN)
4-a questo punto gestisco la Promise direttamente nello user-page.ts facendo LI i vari .THEN -> 
-->

<!--

-->
<router-outlet></router-outlet>
